* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans',sans-serif;
}

.wrapper {
    width: 1100px;
    margin: auto;
    position: relative;
}

.logo a {  
    font-size: 50px;
    font-weight: 800px;
    font-weight: bold;
    float: left;
    font-family: courier;
    color: #025464;
    
}

.menu {
    float: right ;
}

nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky; 
    position: -webkit-sticky;
    top: 0;
    background: #FFFFFF;
    z-index: 1;
    border-bottom: 1px solid #025464;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

nav ul li {
    float:left    
}

nav ul li a {
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 15px 20px 15px 20px;
    text-decoration: none;
    
}

nav ul li a:hover {
    text-decoration: underline;
}

section {
    margin: auto;
    display: flex;  
    margin-bottom: 50px;
    margin-right: 20px;
}

.kolom {
    margin-top: 50px;
    margin-bottom: 50px;
}


.kolom .deskripsi {
    font-size: 20px;
    font-weight: bold;
    font-family: 'comic sans ms';
    color: #025464;
}

h2 {
    font-family: 'comic sans ms';
    font-weight: 800px;
    font-size: 45px;
    margin-bottom: 20px;
    color: #025464;
    width: 100%;
    line-height: 50px;
}

a.tbl-biru {
    background: #19A7CE;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-biru:hover {
    background: #E76161;
    text-decoration: none;
}

a.tbl-merah {
    background: #E76161;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-merah:hover {
    background: #19A7C1;
    text-decoration: none;
}

p {
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
}     

.tengah {
    text-align: center;
    width: 100%;
}

.temansaya {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.temanku {
    width: 20%;
    margin: 0 auto;
}

.temanku img {
    width: 80%;
    border: 50%;
}

.temanku p {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 25px;
    text-align: center;
    color: #025464;
}

.Health {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;

}

.kesehatan {
    width: 20%;
    margin: 0 auto;

}

.kesehatan img {
    width: 150px;
    border-radius: 50%;
}

#kontak {
    background: #dedede;
    padding: 50px 0px 50px 0px;

}

.footer {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.footer-section {
    width: 20%;
    margin: 0 auto;

}

h3 {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 20px;
    color: #025464;
    width: 100%;
    line-height: 50px;
}

a.tbl-hijau {
    background: #1B9C85;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-hijau:hover {
    background: #E76161;
    text-decoration: none;
}